body{
	margin:0;
	padding:0;
	width:100%;
}
img{
	float:left;
	border:4px solid white;
	margin:5px;
}
#mast{
	width:100%;
	background-color:aquamarine;
	height=50px;
	margin-top:20px;
	position:fixed;
}
.container{
	max-width:1040px;
	border:1px solid black;
	margin:0 auto;
}
.section{
	border:1px solid #ddd;
	min-height:500px;
}
#nav{
	float:right;
	margin-top:5px;
	width:600px;
}	
#nav ul{
	list-style:none;
	margin:0 auto;
	display:block;
}
#nav li{
	float:left;
	padding:10px;
	margin:2px;
	background-color:black;
}
#nav li a{
	text-decoration:none;
	font-size:1 em;
	color:white;
}
#nav li a.active{
	border-bottom:3px solid #fff;
	color:yellow;
}
#nav li a:hover{
	color:red;
}
.clear{
	clear:both;
}
.wrap{
	background-color:rgb(200,200,200);
	background-color:rgba(200,200,200,0.5);
	border-radius:20px;
	padding:30px;
	margin:40px auto;
	width:70%;
}
#section1 .wrap{
	margin-top:90px;
}
#section1{
	background-color:pink;
	background-size:cover;
}
#section2{
	background:url('https://placeimg.com/1000/800/tech');
	background-size:cover;
}
#section3{
	background-color:brown;
	background-size:cover;
}
#section4{
	background:url('https://placeimg.com/1000/750/tech');
	background-size:cover;
}

#section5{
	background-color:lightgreen;
	background-size:cover;
}
#section6{
	background:url('https://placeimg.com/900/700/tech');
	background-size:cover;
}
#footer{
	background-color:#333;
	color:white;
}
.col-1{
	width:66%;
	display:inline-block;
	margin-bottom:20px;
}
.col-2{
	width:33%;
	display:inline-block;
}
